/*switchItUp.css*/

nav {
	text-align: center;
	padding-left: 80;
	padding-right: 60px;
	float: center;
	border: 2px solid #73AD21;
}
.navbar{
	background-color: black;
}
.active{
	background-color: silver;
}
