h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: right;
}

li{
	margin-right:200px;
	margin-left: 100px;
}
nav {
	text-align: center;
	padding-left: 80;
	padding-right: 60px;
	float: center;
	border: 2px solid #73AD21;
}
