/*initial.css*/
nav{
	text-align: center;
	font-size: 45px;
	padding-left: 140px;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-top: 20px;
}
.navbar{
	background-color: lightcyan;
}
body{
	background-color: (252, 211, 242);
}
.active{
	background-color: silver;
}

.col-sm-3{
	padding-right: 200px;
	font-size: 12px;
	text-align: center;
}
