/*nailTips.css*/
/*initial.css*/
nav {
	text-align: center;
	padding-left: 80;
	padding-right: 60px;
	float: center;
	border: 2px solid #73AD21;
}
.navbar{
	background-color: lightcyan;
}

.active{
	background-color: silver;
}

.col-sm-3{
	padding-right: 200px;
	font-size: 12px;
	text-align: center;
}
img{
	display: inline-block;
}

ul{
	font-size: 20px;
	color: black;
}
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
