/*skin_care.css*/
nav {
	text-align: center;
	padding-left: 80;
	padding-right: 60px;
	float: center;
}

.active{ 
	padding-left: 140px;
	padding-top;  
}
.navbar{
	background-color: black;
}

.carousel-control{
	width:100px;
	
}

img {
    display: block;
    margin: auto;
    width: 50%;
}
