/*skincare.css*/
img{
	margin-top: 5px; 
	width:auto;
	height:auto;

}
.home{
	font-style: 
	font-size:24px;
	margin-left:25px;
	margin-top:15px;  
}
nav {
	text-align: center;
	padding-left: 80;
	padding-right: 60px;
	float: center;
	border: 2px solid #73AD21;
}
.text1 {
	font-size:17px;
	/*float:left;*/
	margin-left:95px;
}
.text2 {
	font-size:24px;
}
.text3 {
	font-size:30px;
	margin-left:50px;  
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding-left: 200px;
  text-align: center;
}

ul.img-list li{
  display: inline-block;
  height: 350px;
  float:left; 
  margin-left:20px;
  position: relative;
  width: 360px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;

}
ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  font-size:30px; 
}
.image{
	float:left; 
	width:360px;
	height:350px;  
}
	


h1, h1.blog { 
	display: inline; 
	float:left; 
}

ul.text3 li{
	color: darkgrey; 
	display: inline-block;
	margin-left:20px;
	position: right;
}
p {
	margin-right:120px;
	margin-left: 120px;
}


