nav {
	text-align: center;
	font-size: 45px;
	padding-left: 80;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-top: 10px;
	float: center;
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 70%;
      margin: center;
  }
.active{ 
	padding-left: 40px; 
	color: silver;
}
.navbar{
	background-color: lightcyan; 
}

.carousel-control{
	background-color: lightcyan;
	width:100px;
	
}

img {
    display: block;
    margin: auto;
    width: 75%;
    height: 50%;
}
body {
    background-image: url("background_glowup.jpg");
    background-attachment: fixed;
    background-color: #E6E6FA;
}
p{
	font-size:20px;
}




